.container{
  display:flexbox;
  position: absolute;
  width: 407px;
  height: 639px;
  left: 544px;
  top: 250px;
  
  background: #FF9E9E;
  border-radius: 51px;
}

.temperature-display{
position: relative;
border-radius:50%;
width: 324px;
height: 340px;
left: 42px;
top: -43px;

background: #B07EF0;
box-shadow: 0px 15px 15px 10px rgba(0, 0, 0, 0.15);
}
#temperature{
  position: relative;
top: 120px;
left: 60px;
font-size: 90px;
}

.minus{
position: absolute;
border-radius:50%;
font-size:80px;
width: 109px;
height: 111px;
left: 67px;
bottom: 42px;

background: #29D6B6;
box-shadow: 0px 13px 15px rgba(0, 0, 0, 0.25);
}

.plus{
position: absolute;
border-radius:50%;
font-size:80px;
width: 109px;
height: 111px;
left: 236px;
bottom: 42px;

background: #29D6B6;
box-shadow: 0px 13px 15px rgba(0, 0, 0, 0.25);
}